.login {
  &__logo {
    width: 150px;
  }
  &__title {
    font-size: 36px;
    font-weight: 600;
    color: $headers;
    text-transform: uppercase;
    margin: 15px 0;
    letter-spacing: -3px;
  }
  &__button {
    img {
      width: 250px;
      cursor: pointer;
    }
  }
} 